.flag
{
  margin-right: 10px;
  width: 16px;
  height: 11px;
}

.footer
{
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #ffffff;
  text-align: center;
  background-color: #501E42;
}
